html {
/* 01/08/2023, 18:02 */
background-image: url("http://atomicshed.com/thumbs/home/modules/cr-001-fb6l4v/letraset-cooper-black-2560x1919-q80.jpg");
background-size: cover;
background-color: black;

font-family: inherit;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 1.5;
-webkit-text-size-adjust: 100%;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
word-wrap:break-word
}

body {
margin:10%;
background-color: rbga(0,0,0,0.5);
}
.content {
background-color: rgb(255,255,255,0.85);
border: 30px solid #007B5F;
padding:2%;
margin:5% auto 5% auto;
}